.banner__bg {
   max-width: 120rem;
   height: 41.4rem;
   margin: 2.4rem auto;
   background-image: url(../images/banner.png);
   background-repeat: no-repeat;
   background-position: top;
   position: relative;
}
.banner__bg-bottom {
   position: absolute;
   width: 100%;
   height: 22%;
   left: 0;
   bottom: 0;
   background-color: #DF9B7A;
}
.bg-bottom__row {
   padding: 3rem;
   display: flex;
   justify-content: space-between;
}
.bg-bottom__title {
   font-weight: 400;
   font-size: 20px;
   line-height: 32px;
   text-transform: uppercase;
   color: #F6F4EC;
}
.bg-bottom__link {
   font-weight: 400;
   font-size: 18px;
   line-height: 29px;
   color: #F6F4EC;
}