
.breadcrumbs__link {
   font-weight: 400;
   font-size: 23px;
   line-height: 39px;
   text-transform: capitalize;
   color: #B45F4D;
}
.breadcrumbs__link + .breadcrumbs__link{
   margin-left: 20px;
}
.breadcrumbs__link.active{
   font-weight: 600;
}