
.hero__bg {
   width: 100%;
   height: 43.5rem;
   background-image: url(../images/hero-bg.png);
   background-repeat: no-repeat;
   background-position: center;
}
.hero__bg-row {
   padding-top: 33.2rem;
   display: flex;
   justify-content: center;
}
.hero__bg-btn {
   width: 128px;
   height: 48px;
   background: #B45F4D;
   font-weight: 400;
   font-size: 17px;
   line-height: 29px;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
}
.hero__content-bg {
   width: 100%;
   background-color: #A9AE8D;
}
.hero__content-inner {
   padding-top: 6.9rem;
   padding-bottom: 6.8rem;
   padding-left: 7rem;
}
.hero__content-text {
   font-weight: 400;
   font-size: 18px;
   line-height: 29px;
   text-transform: uppercase;
   color: #F6F4EC;
   margin-bottom: 23px;
}
.hero__content-title {
   font-weight: 400;
   font-size: 33px;
   line-height: 64px;
   color: #F6F4EC;
   margin-bottom: 23px;
}
.hero__content-link {
   font-weight: 400;
   font-size: 16px;
   line-height: 27px;
   color: #F6F4EC;
}
@media(max-width:575px){
   .hero__content-inner{
      text-align: center;
      padding-left: 0;
   }
}