@media (max-width: 108em) {
   html {
       font-size: 9px;
   }
}

@media (max-width: 105em) {
   html {
       font-size: 8.75px;
   }
}

@media (max-width: 91.5em) {
   html {
       font-size: 7.9px;
   }
}

@media (max-width: 91em) {
   html {
       font-size: 8.4px;
   }
}

@media (max-width: 90em) {
   html {
       font-size: 7.9px;
   }
}

@media (max-width: 80em) {
   html {
       font-size: 7.2px
   }
}

@media (max-width: 72em) {
   html {
       font-size: 6.5px;
   }
}

@media (max-width: 64em) {
   html {
       font-size: 5.5px;
   }
}

@media (max-width: 48em) {
   html {
       font-size: 10px;
   }
   .slider__swiper-buttons{
      display: none;
   }
   .story__body{
      overflow-x: auto;
   }
   .footer__row{
      flex-direction: column;
      align-items: center;
   }
   .footer__col:last-child{
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .footer__col-left{
      margin: 0 auto;
      padding-bottom: 20px;
   }
   .story__inner{
      flex-direction: column;
      padding-left: 1rem;
      padding-right: 1rem;
   }
   .story__content{
      margin-left: 0;
      order: 1;
      width: 100%;
   }
   .story__content-text{
      padding: 0 30px;
      max-width: 100%;
   }
   .story__inner-img{
      order: 2;
      width: 100%;
   }
   .footer__list{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .footer__form{
      width: 100%;
   }
}

@media (max-width: 44em) {
   html {
       font-size: 9px;
   }
}

@media (max-width: 38em) {
   html {
       font-size: 8px;
   }
}

@media (max-width: 34em) {
   html {
       font-size: 7px;
   }
}

@media (max-width: 30em) {
   html {
       font-size: 6px;
   }
   .footer__list{
      width: 140px;
   }
}

@media (max-width: 26em) {
   html {
       font-size: 4.5px;
   }
}

@media (max-width: 21em) {
   html {
       font-size: 4.4px;
   }
}