
.story__body {
   background-color: #CCCCCC;
}
.story__inner {
   padding-top: 6.1rem;
   padding-left: 18.3rem;
   padding-bottom: 6.1rem;
   max-width: 1100px;
   display: flex;
   align-items: center;
   position: relative;
}
.story__inner-img {
   width: 57%;
   height: 947px;
}
.story__inner-img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.story__inner-img-absolute {
   position: absolute;
   bottom: 20px;
   left: 65px;
   width: 33.9rem;
   height: 50.9rem;
}
.story__inner-img-absolute img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.story__content {
   background-color: white;
    margin-left: -5rem;
    /* padding-left: 5rem; */
    /* padding-right: 5.2rem; */
    padding-top: 50px;
    padding-bottom: 5rem;
    width: 43%;
    margin-bottom: 20px;
}
.story__content-title {
   font-weight: 400;
   font-size: 3rem;
   line-height: 5.8rem;
   color: #B45F4D;
   margin-bottom: 2.2rem;
   text-align: center;
}
.story__content-inner{
   padding: 30px;
}
.story__content-text {
   max-width: 41.6rem;
   font-weight: 400;
   font-size: 1.9rem;
   line-height: 1.57;
   color: #B45F4D;
   margin-bottom: 4.1rem;
}
.story__content-link {
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #B45F4D;
}